<div class='container'>
    <h1>오늘의 점심은?!</h1>
    <br>
    <img src = "http://m1.daumcdn.net/cfile219/image/262DD24253649DED457940">
    <br>
    <h2><strong><%=@food%></strong> 먹자!</h2>
    <br>
    <br>
    <a href='home/input'>맘에안들어 흥!</a>
</div>